/* Styles for the 'Show next message' button */
#show-next-button {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px 30px;
  background-color: #19c37d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
  width: 200px;
  text-align: center;
}

#show-next-button:hover {
    background-color: #16a76b;
}

#auto-finish-button {
  display: none;
  position: fixed;
  bottom: 140px;
  right: 20px;
  padding: 10px 30px;
  background-color: #7dc392; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
  width: 200px;
  text-align: center;
}

#auto-finish-button:hover {
  background-color: #6aab7d; 
}

#auto-finish-conversation-button {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 30px;
  background-color: #159961;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
  width: 200px;
  text-align: center;
}

#auto-finish-conversation-button:hover {
  background-color: #138456;
}

/* Styles for currently displayed conversation block */
.group.displayed {
    display: block;
    border: 2px solid #19c37d;
}

#start-plugin-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    background-color: #19c37d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 9999;
    width: 200px;
    text-align: center;
}

#start-plugin-button:hover {
    background-color: #16a76b;
}

#show-upcoming-button {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 30px;
  background-color: #2C9184;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
  width: 200px;
  text-align: center;
}

#show-upcoming-button:hover {
  background-color: #20756C;
}
