/* Hiding conversation blocks */
.group {
    display: none;
}

/* Styles for the 'Show next message' button */
#show-next-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #19c37d; /* ChatGPT green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 9999; /* Make sure it's above everything else */
}

#show-next-button:hover {
    background-color: #16a76b; /* Slightly darker green for hover effect */
}

#auto-finish-button {
  display: none;
  position: fixed;
  bottom: 60px;  /* Adjust these values as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #19c37d;  /* You can choose a different color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
}

#auto-finish-button:hover {
  background-color: #16a76b;  /* You can choose a different hover color */
}

/* Styles for currently displayed conversation block */
.group.displayed {
    display: block; /* show the conversation block */
    border: 2px solid #19c37d; /* ChatGPT green */
}
