/* Hiding conversation blocks */
.group {
    display: none;
}

/* Styles for the 'Show next message' button */
#show-next-button {
    display: block;
    position: fixed;
    bottom: 60px;  /* Adjusted as per your request */
    right: 20px;
    width: 200px;  /* Set width to match other buttons */
    padding: 10px 20px;
    background-color: #19c37d; /* ChatGPT green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 9999; /* Make sure it's above everything else */
}

#show-next-button:hover {
    background-color: #16a76b; /* Slightly darker green for hover effect */
}

#auto-finish-button {
  display: none;
  position: fixed;
  bottom: 100px;  /* Adjusted as per your request */
  right: 20px;
  width: 200px;  /* Set width to match other buttons */
  padding: 10px 20px;
  background-color: #45D398;  /* Lighter green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
}

#auto-finish-button:hover {
  background-color: #3BB988;  /* Slightly darker green for hover */
}

#auto-finish-conversation-button {
  display: block;
  position: fixed;
  bottom: 140px;  /* Adjusted as per your request */
  right: 20px;
  width: 200px;  /* Set width to match other buttons */
  padding: 10px 20px;
  background-color: #128C57;  /* Darker green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 9999;
}

#auto-finish-conversation-button:hover {
  background-color: #0F7A44;  /* Slightly darker green for hover */
}

/* Styles for currently displayed conversation block */
.group.displayed {
    display: block; /* show the conversation block */
    border: 2px solid #19c37d; /* ChatGPT green */
}
